<phpunit bootstrap="itsdangerous.php" colors="true">
    <testsuites>
        <testsuite name="All">
            <directory>test/</directory>
        </testsuite>
    </testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
		<directory suffix=".php">src</directory>
		<file>itsdangerous.php</file>
		</whitelist>
	</filter>
</phpunit>
